body {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  background: #111;
  color: #eee;
  padding: 20px;
}

h1, h2 {
  color: #f1bf00;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 80px;
  height: auto;
}

.produto {
  margin-bottom: 20px;
  padding: 0px 0px 10px 20px;
  border-bottom: 1px solid #444;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 5px;
}

a {
  color: cadetblue;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 50px;
  text-align: center;
  display: block;
}

.produto-header {
  flex-wrap: wrap; /* permite quebrar se ficar apertado */
  align-items: baseline;
  gap: 4px;
  margin-bottom: 4px;
}

.produto-header h3 {
  margin: 0;
  font-size: 1.1em;
  color: #fff;
  font-weight: 600;
}

.produto-desc {
  font-size: 0.9em;
  color: #ccc;
  flex: 1; /* ocupa o espaço restante */
}

.produto-desc b {
  color: #f1bf00;
}

.produto-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.produto-img {
  width: 100px;   /* tamanho fixo para todas */
  height: 100px;  /* força padrão visual */
  object-fit: contain; /* mantém proporção sem cortar */
  background: #222; /* fundo neutro para imagens menores */
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.produto-img:hover {
  transform: scale(1.1);
}

.produto-info {
  flex: 1;
}

.loja-link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px 5px;
  font-size: 1em;
}

.loja-link img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  background-color: #f3f5f6;
  object-fit: contain;
}

/* ==== MODAL ==== */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}