body {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  background: #111;
  color: #eee;
  padding: 20px;
}

h1 {
  color: #f33;
}

.produto {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.links {
  display: flex;
  flex-wrap: wrap;  /* Quebra linha se não couber */
  gap: 15px;        /* Espaço entre os links */
  margin-top: 5px;  /* Espaço entre o nome do produto e os links */
}

a {
  color: yellow;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 50px;
  text-align: center;
  display: block;
}
